@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  display: none;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-1 .mbr-section-title {
  font-family: 'Droid Serif', serif;
  text-align: right;
  color: #ffffff;
}
#header1-1 .mbr-section-lead {
  text-align: right;
}
#header3-2x .mbr-section-title,
#header3-2x .mbr-section-subtitle {
  text-align: center;
}
#header3-2x .mbr-section-title {
  font-family: 'Droid Serif', serif;
  text-align: left;
  color: #ffffff;
}
#features1-2w .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-2w .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#features1-2w .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
}












#menu-2 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-2 .navbar-toggler {
  color: #ffffff;
}
#menu-2 .close-icon::before,
#menu-2 .close-icon::after {
  background-color: #ffffff;
}
#menu-2 .link,
#menu-2 .dropdown-item {
  color: #ffffff;
}
#menu-2 .link {
  font-size: 1rem;
}
#menu-2 .dropdown-item,
#menu-2 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-2 .link:hover,
#menu-2 .dropdown-item:hover,
#menu-2 .link:focus,
#menu-2 .dropdown-item:focus {
  color: #c0a375;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-menu {
  background: #0e0e0e;
}
#menu-2 .nav-dropdown-sm .link:focus,
#menu-2 .nav-dropdown-sm .link:hover,
#menu-2 .nav-dropdown-sm .dropdown-item:focus,
#menu-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2 .navbar,
#menu-2 .nav-dropdown-sm,
#menu-2 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2 .bg-color.transparent.opened .link:hover,
#menu-2 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-4a .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#header3-6 .mbr-section-title,
#header3-6 .mbr-section-subtitle {
  text-align: center;
}
#header3-6 .mbr-section-title {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
  text-align: left;
}
#content1-8 P {
  font-family: 'Droid Serif', serif;
  text-align: center;
  font-size: 17px;
}
#msg-box3-p .mbr-section-title,
#msg-box3-p p {
  color: #000;
}
#msg-box3-p .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#msg-box3-p .lead P {
  font-family: 'Droid Serif', serif;
}
#header3-b .mbr-section-title,
#header3-b .mbr-section-subtitle {
  text-align: center;
}
#header3-b .mbr-section-title {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
  text-align: left;
}
#content1-c P {
  font-family: 'Droid Serif', serif;
  text-align: center;
}
#features7-f .card-subtitle {
  color: #bcbcbc;
}
#features7-f .iconbox {
  background-color: #c0a375;
  border-color: #c0a375;
}
#features7-f H4 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#features7-f P {
  text-align: left;
}
#header3-j .mbr-section-title,
#header3-j .mbr-section-subtitle {
  text-align: center;
}
#header3-j .mbr-section-title {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
  text-align: left;
}
#content1-k P {
  font-family: 'Droid Serif', serif;
  text-align: center;
}









#menu-13 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-13 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-13 .navbar-toggler {
  color: #ffffff;
}
#menu-13 .close-icon::before,
#menu-13 .close-icon::after {
  background-color: #ffffff;
}
#menu-13 .link,
#menu-13 .dropdown-item {
  color: #ffffff;
}
#menu-13 .link {
  font-size: 1rem;
}
#menu-13 .dropdown-item,
#menu-13 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-13 .link:hover,
#menu-13 .dropdown-item:hover,
#menu-13 .link:focus,
#menu-13 .dropdown-item:focus {
  color: #c0a375;
}
#menu-13 .link[aria-expanded="true"],
#menu-13 .dropdown-menu {
  background: #0e0e0e;
}
#menu-13 .nav-dropdown-sm .link:focus,
#menu-13 .nav-dropdown-sm .link:hover,
#menu-13 .nav-dropdown-sm .dropdown-item:focus,
#menu-13 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-13 .navbar,
#menu-13 .nav-dropdown-sm,
#menu-13 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-13 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-13 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-13 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-13 .bg-color.transparent.opened .link:hover,
#menu-13 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-13 .link[aria-expanded="true"],
#menu-13 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-13 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-15 .mbr-section-title {
  font-family: 'Droid Serif', serif;
  text-align: left;
}
#header1-15 .mbr-section-lead {
  text-align: left;
}
#header3-1b .mbr-section-title,
#header3-1b .mbr-section-subtitle {
  text-align: center;
}
#header3-1b .mbr-section-title {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
  text-align: left;
}
#content6-19 P {
  font-family: 'Droid Serif', serif;
}
#header3-1c .mbr-section-title,
#header3-1c .mbr-section-subtitle {
  text-align: center;
}
#header3-1c .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
  color: #ffffff;
}
#features3-16 H4 {
  text-align: center;
  font-family: 'Droid Serif', serif;
}
#features3-16 P {
  text-align: left;
}
#features3-1a H4 {
  font-family: 'Droid Serif', serif;
}
#features3-1a P {
  font-family: 'Droid Serif', serif;
  text-align: left;
}






#menu-1d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1d .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-1d .navbar-toggler {
  color: #ffffff;
}
#menu-1d .close-icon::before,
#menu-1d .close-icon::after {
  background-color: #ffffff;
}
#menu-1d .link,
#menu-1d .dropdown-item {
  color: #ffffff;
}
#menu-1d .link {
  font-size: 1rem;
}
#menu-1d .dropdown-item,
#menu-1d .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-1d .link:hover,
#menu-1d .dropdown-item:hover,
#menu-1d .link:focus,
#menu-1d .dropdown-item:focus {
  color: #c0a375;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-menu {
  background: #0e0e0e;
}
#menu-1d .nav-dropdown-sm .link:focus,
#menu-1d .nav-dropdown-sm .link:hover,
#menu-1d .nav-dropdown-sm .dropdown-item:focus,
#menu-1d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1d .navbar,
#menu-1d .nav-dropdown-sm,
#menu-1d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1d .bg-color.transparent.opened .link:hover,
#menu-1d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1d A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-1f .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#header3-1j .mbr-section-title,
#header3-1j .mbr-section-subtitle {
  text-align: center;
}
#header3-1j .mbr-section-title {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
  text-align: left;
}
#msg-box3-1i .mbr-section-title,
#msg-box3-1i p {
  color: #000;
}
#msg-box3-1i .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#msg-box3-1i .lead P {
  font-family: 'Droid Serif', serif;
  text-align: left;
}












#menu-1d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1d .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-1d .navbar-toggler {
  color: #ffffff;
}
#menu-1d .close-icon::before,
#menu-1d .close-icon::after {
  background-color: #ffffff;
}
#menu-1d .link,
#menu-1d .dropdown-item {
  color: #ffffff;
}
#menu-1d .link {
  font-size: 1rem;
}
#menu-1d .dropdown-item,
#menu-1d .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-1d .link:hover,
#menu-1d .dropdown-item:hover,
#menu-1d .link:focus,
#menu-1d .dropdown-item:focus {
  color: #c0a375;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-menu {
  background: #0e0e0e;
}
#menu-1d .nav-dropdown-sm .link:focus,
#menu-1d .nav-dropdown-sm .link:hover,
#menu-1d .nav-dropdown-sm .dropdown-item:focus,
#menu-1d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1d .navbar,
#menu-1d .nav-dropdown-sm,
#menu-1d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1d .bg-color.transparent.opened .link:hover,
#menu-1d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1d A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-1m .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#header3-1n .mbr-section-title,
#header3-1n .mbr-section-subtitle {
  text-align: center;
}
#header3-1n .mbr-section-title {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  text-align: left;
}
#content6-1p P {
  font-family: 'Droid Serif', serif;
}
#header3-1q .mbr-section-title,
#header3-1q .mbr-section-subtitle {
  text-align: center;
}
#header3-1q .mbr-section-title {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  text-align: left;
}
#content6-1s P {
  font-family: 'Droid Serif', serif;
}
#features7-1v .card-subtitle {
  color: #bcbcbc;
}
#features7-1v .iconbox {
  background-color: #c0a375;
  border-color: #c0a375;
}
#features7-1v H4 {
  font-family: 'Droid Serif', serif;
}
#features7-1v P {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#header3-1t .mbr-section-title,
#header3-1t .mbr-section-subtitle {
  text-align: center;
}
#header3-1t .mbr-section-title {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  text-align: left;
}
#features3-1u P {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#features3-1u H4 {
  font-family: 'Droid Serif', serif;
}




#menu-1d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1d .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-1d .navbar-toggler {
  color: #ffffff;
}
#menu-1d .close-icon::before,
#menu-1d .close-icon::after {
  background-color: #ffffff;
}
#menu-1d .link,
#menu-1d .dropdown-item {
  color: #ffffff;
}
#menu-1d .link {
  font-size: 1rem;
}
#menu-1d .dropdown-item,
#menu-1d .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-1d .link:hover,
#menu-1d .dropdown-item:hover,
#menu-1d .link:focus,
#menu-1d .dropdown-item:focus {
  color: #c0a375;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-menu {
  background: #0e0e0e;
}
#menu-1d .nav-dropdown-sm .link:focus,
#menu-1d .nav-dropdown-sm .link:hover,
#menu-1d .nav-dropdown-sm .dropdown-item:focus,
#menu-1d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1d .navbar,
#menu-1d .nav-dropdown-sm,
#menu-1d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1d .bg-color.transparent.opened .link:hover,
#menu-1d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1d A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-22 .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#header3-25 .mbr-section-title,
#header3-25 .mbr-section-subtitle {
  text-align: center;
}
#header3-25 .mbr-section-title {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
  text-align: left;
}









#header1-28 .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#header3-29 .mbr-section-title {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  text-align: left;
}
#content6-2a P {
  font-family: 'Droid Serif', serif;
}
#features1-2b .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-2b .mbr-cards-col:nth-child(odd) .card-title {
  font-family: 'Droid Serif', serif;
  color: #000000;
}
#features1-2b .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#features1-2b .mbr-cards-col:nth-child(even) .card-title {
  font-family: 'Droid Serif', serif;
}
#features1-2b .mbr-cards-col:nth-child(even) .card-text {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#menu-27 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-27 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-27 .navbar-toggler {
  color: #ffffff;
}
#menu-27 .close-icon::before,
#menu-27 .close-icon::after {
  background-color: #ffffff;
}
#menu-27 .link,
#menu-27 .dropdown-item {
  color: #ffffff;
}
#menu-27 .link {
  font-size: 1rem;
}
#menu-27 .dropdown-item,
#menu-27 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-27 .link:hover,
#menu-27 .dropdown-item:hover,
#menu-27 .link:focus,
#menu-27 .dropdown-item:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-menu {
  background: #0e0e0e;
}
#menu-27 .nav-dropdown-sm .link:focus,
#menu-27 .nav-dropdown-sm .link:hover,
#menu-27 .nav-dropdown-sm .dropdown-item:focus,
#menu-27 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-27 .navbar,
#menu-27 .nav-dropdown-sm,
#menu-27 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-27 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-27 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-27 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-27 .bg-color.transparent.opened .link:hover,
#menu-27 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-27 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}








#menu-27 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-27 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-27 .navbar-toggler {
  color: #ffffff;
}
#menu-27 .close-icon::before,
#menu-27 .close-icon::after {
  background-color: #ffffff;
}
#menu-27 .link,
#menu-27 .dropdown-item {
  color: #ffffff;
}
#menu-27 .link {
  font-size: 1rem;
}
#menu-27 .dropdown-item,
#menu-27 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-27 .link:hover,
#menu-27 .dropdown-item:hover,
#menu-27 .link:focus,
#menu-27 .dropdown-item:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-menu {
  background: #0e0e0e;
}
#menu-27 .nav-dropdown-sm .link:focus,
#menu-27 .nav-dropdown-sm .link:hover,
#menu-27 .nav-dropdown-sm .dropdown-item:focus,
#menu-27 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-27 .navbar,
#menu-27 .nav-dropdown-sm,
#menu-27 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-27 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-27 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-27 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-27 .bg-color.transparent.opened .link:hover,
#menu-27 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-27 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header3-2g .mbr-section-title,
#header3-2g .mbr-section-subtitle {
  text-align: center;
}
#header3-2g .mbr-section-title {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  text-align: left;
}
#contacts1-2k P {
  color: #000000;
  font-family: 'Droid Serif', serif;
}
#contacts1-2k STRONG {
  color: #4b4a4a;
  font-family: 'Droid Serif', serif;
}
#header3-2h .mbr-section-title,
#header3-2h .mbr-section-subtitle {
  text-align: center;
}
#header3-2h .mbr-section-title {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  text-align: left;
}
#contacts2-2m STRONG {
  color: #4b4a4a;
  font-family: 'Droid Serif', serif;
}
#contacts2-2m P {
  color: #000000;
  text-align: left;
  font-family: 'Droid Serif', serif;
}








#menu-2o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2o .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-2o .navbar-toggler {
  color: #ffffff;
}
#menu-2o .close-icon::before,
#menu-2o .close-icon::after {
  background-color: #ffffff;
}
#menu-2o .link,
#menu-2o .dropdown-item {
  color: #ffffff;
}
#menu-2o .link {
  font-size: 1rem;
}
#menu-2o .dropdown-item,
#menu-2o .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-2o .link:hover,
#menu-2o .dropdown-item:hover,
#menu-2o .link:focus,
#menu-2o .dropdown-item:focus {
  color: #c0a375;
}
#menu-2o .link[aria-expanded="true"],
#menu-2o .dropdown-menu {
  background: #0e0e0e;
}
#menu-2o .nav-dropdown-sm .link:focus,
#menu-2o .nav-dropdown-sm .link:hover,
#menu-2o .nav-dropdown-sm .dropdown-item:focus,
#menu-2o .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2o .navbar,
#menu-2o .nav-dropdown-sm,
#menu-2o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2o .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2o .bg-color.transparent.opened .link:hover,
#menu-2o .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2o .link[aria-expanded="true"],
#menu-2o .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2o A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-2q .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#header3-4d .mbr-section-title,
#header3-4d .mbr-section-subtitle {
  text-align: center;
}
#header3-4d .mbr-section-title {
  text-align: left;
  color: #ffffff;
  font-family: 'Droid Serif', serif;
}
#features2-2r .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features2-2r .mbr-cards-col:nth-child(odd) .card-title {
  font-family: 'Droid Serif', serif;
  color: #000000;
}
#features2-2r .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
  text-align: left;
}
#features2-2r .mbr-cards-col:nth-child(even) .card-title {
  font-family: 'Droid Serif', serif;
}
#features2-2r .mbr-cards-col:nth-child(even) .card-text {
  text-align: left;
}
#features6-2u P {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#features6-2u H4 {
  font-family: 'Droid Serif', serif;
}





#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-30 .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#header3-4c .mbr-section-title,
#header3-4c .mbr-section-subtitle {
  text-align: center;
}
#header3-4c .mbr-section-title {
  color: #ffffff;
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#features7-31 .card-subtitle {
  color: #bcbcbc;
}
#features7-31 .iconbox {
  background-color: #c0a375;
  border-color: #c0a375;
}
#features7-31 H4 {
  font-family: 'Droid Serif', serif;
}





#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-34 .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#header3-43 .mbr-section-title,
#header3-43 .mbr-section-subtitle {
  text-align: center;
}
#header3-43 .mbr-section-title {
  text-align: left;
  color: #ffffff;
  font-family: 'Droid Serif', serif;
}
#msg-box3-35 .mbr-section-title,
#msg-box3-35 p {
  color: #000;
}
#msg-box3-35 .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#msg-box3-35 .lead P {
  text-align: left;
}
























#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-3h .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#header3-3l .mbr-section-title,
#header3-3l .mbr-section-subtitle {
  text-align: center;
}
#header3-3l .mbr-section-title {
  font-family: 'Droid Serif', serif;
  text-align: left;
  color: #ffffff;
}
#msg-box1-3i H3 {
  color: #000000;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3j H3 {
  color: #000000;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3k H3 {
  color: #000000;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3m H3 {
  text-align: left;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3n H3 {
  text-align: left;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3o H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3p H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3q H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3r H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3s H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3t H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3u H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3v H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3w H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3x H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3y H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-3z H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-40 H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-41 H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-42 H3 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}






#menu-44 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-44 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-44 .navbar-toggler {
  color: #ffffff;
}
#menu-44 .close-icon::before,
#menu-44 .close-icon::after {
  background-color: #ffffff;
}
#menu-44 .link,
#menu-44 .dropdown-item {
  color: #ffffff;
}
#menu-44 .link {
  font-size: 1rem;
}
#menu-44 .dropdown-item,
#menu-44 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-44 .link:hover,
#menu-44 .dropdown-item:hover,
#menu-44 .link:focus,
#menu-44 .dropdown-item:focus {
  color: #c0a375;
}
#menu-44 .link[aria-expanded="true"],
#menu-44 .dropdown-menu {
  background: #0e0e0e;
}
#menu-44 .nav-dropdown-sm .link:focus,
#menu-44 .nav-dropdown-sm .link:hover,
#menu-44 .nav-dropdown-sm .dropdown-item:focus,
#menu-44 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-44 .navbar,
#menu-44 .nav-dropdown-sm,
#menu-44 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-44 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-44 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-44 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-44 .bg-color.transparent.opened .link:hover,
#menu-44 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-44 .link[aria-expanded="true"],
#menu-44 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-44 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-46 .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#header3-49 .mbr-section-title,
#header3-49 .mbr-section-subtitle {
  text-align: center;
}
#header3-49 .mbr-section-title {
  color: #ffffff;
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#features3-48 H4 {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#features3-48 P {
  text-align: left;
  font-family: 'Droid Serif', serif;
}





#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-4g .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#header3-4h .mbr-section-title,
#header3-4h .mbr-section-subtitle {
  text-align: center;
}
#header3-4h .mbr-section-title {
  color: #ffffff;
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#content1-4i DIV {
  font-family: 'Droid Serif', serif;
}





#menu-4j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4j .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-4j .navbar-toggler {
  color: #ffffff;
}
#menu-4j .close-icon::before,
#menu-4j .close-icon::after {
  background-color: #ffffff;
}
#menu-4j .link,
#menu-4j .dropdown-item {
  color: #ffffff;
}
#menu-4j .link {
  font-size: 1rem;
}
#menu-4j .dropdown-item,
#menu-4j .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-4j .link:hover,
#menu-4j .dropdown-item:hover,
#menu-4j .link:focus,
#menu-4j .dropdown-item:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-menu {
  background: #0e0e0e;
}
#menu-4j .nav-dropdown-sm .link:focus,
#menu-4j .nav-dropdown-sm .link:hover,
#menu-4j .nav-dropdown-sm .dropdown-item:focus,
#menu-4j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4j .navbar,
#menu-4j .nav-dropdown-sm,
#menu-4j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4j .bg-color.transparent.opened .link:hover,
#menu-4j .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4j A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-4l .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#header3-4m .mbr-section-title,
#header3-4m .mbr-section-subtitle {
  text-align: center;
}
#header3-4m .mbr-section-title {
  color: #ffffff;
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#content1-4n P {
  font-family: 'Droid Serif', serif;
}









#menu-4j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4j .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-4j .navbar-toggler {
  color: #ffffff;
}
#menu-4j .close-icon::before,
#menu-4j .close-icon::after {
  background-color: #ffffff;
}
#menu-4j .link,
#menu-4j .dropdown-item {
  color: #ffffff;
}
#menu-4j .link {
  font-size: 1rem;
}
#menu-4j .dropdown-item,
#menu-4j .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-4j .link:hover,
#menu-4j .dropdown-item:hover,
#menu-4j .link:focus,
#menu-4j .dropdown-item:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-menu {
  background: #0e0e0e;
}
#menu-4j .nav-dropdown-sm .link:focus,
#menu-4j .nav-dropdown-sm .link:hover,
#menu-4j .nav-dropdown-sm .dropdown-item:focus,
#menu-4j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4j .navbar,
#menu-4j .nav-dropdown-sm,
#menu-4j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4j .bg-color.transparent.opened .link:hover,
#menu-4j .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4j A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-4q .mbr-section-title {
  font-family: 'Droid Serif', serif;
}
#header3-4s .mbr-section-title,
#header3-4s .mbr-section-subtitle {
  text-align: center;
}
#header3-4s .mbr-section-title {
  color: #ffffff;
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#content1-4t P {
  font-family: 'Droid Serif', serif;
}
#content2-4u P {
  font-family: 'Droid Serif', serif;
}
#content2-4u BLOCKQUOTE {
  font-family: 'Droid Serif', serif;
}
#content1-4v P {
  font-family: 'Droid Serif', serif;
}
#content2-4w BLOCKQUOTE {
  font-family: 'Droid Serif', serif;
}





































#menu-4j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4j .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-4j .navbar-toggler {
  color: #ffffff;
}
#menu-4j .close-icon::before,
#menu-4j .close-icon::after {
  background-color: #ffffff;
}
#menu-4j .link,
#menu-4j .dropdown-item {
  color: #ffffff;
}
#menu-4j .link {
  font-size: 1rem;
}
#menu-4j .dropdown-item,
#menu-4j .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-4j .link:hover,
#menu-4j .dropdown-item:hover,
#menu-4j .link:focus,
#menu-4j .dropdown-item:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-menu {
  background: #0e0e0e;
}
#menu-4j .nav-dropdown-sm .link:focus,
#menu-4j .nav-dropdown-sm .link:hover,
#menu-4j .nav-dropdown-sm .dropdown-item:focus,
#menu-4j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4j .navbar,
#menu-4j .nav-dropdown-sm,
#menu-4j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4j .bg-color.transparent.opened .link:hover,
#menu-4j .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-item[aria-expanded="true"] {
  color: #c0a375 !important;
}
#menu-4j A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-4z .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#header3-50 .mbr-section-title,
#header3-50 .mbr-section-subtitle {
  text-align: center;
}
#header3-50 .mbr-section-title {
  text-align: left;
  color: #ffffff;
  font-family: 'Droid Serif', serif;
}
#header3-51 .mbr-section-title,
#header3-51 .mbr-section-subtitle {
  text-align: center;
}
#header3-51 .mbr-section-title {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
  text-align: left;
}
#msg-box1-52 H3 {
  font-size: 24px;
  font-family: 'Droid Serif', serif;
}
#msg-box1-53 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-54 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-55 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-56 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-57 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-58 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-59 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5a SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5b SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5c SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5d SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5e SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5f SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5g SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#header3-5h .mbr-section-title,
#header3-5h .mbr-section-subtitle {
  text-align: center;
}
#header3-5h .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-5w SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5x SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-60 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5z SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5y SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5u SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5v SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5t SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5s SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5q SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5r SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5l SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5m SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5p SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5n SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}
#msg-box1-5o SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
}






#menu-4j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4j .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
  font-size: 21px;
}
#menu-4j .navbar-toggler {
  color: #ffffff;
}
#menu-4j .close-icon::before,
#menu-4j .close-icon::after {
  background-color: #ffffff;
}
#menu-4j .link,
#menu-4j .dropdown-item {
  color: #ffffff;
}
#menu-4j .link {
  font-size: 1rem;
}
#menu-4j .dropdown-item,
#menu-4j .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-4j .link:hover,
#menu-4j .dropdown-item:hover,
#menu-4j .link:focus,
#menu-4j .dropdown-item:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-menu {
  background: #0e0e0e;
}
#menu-4j .nav-dropdown-sm .link:focus,
#menu-4j .nav-dropdown-sm .link:hover,
#menu-4j .nav-dropdown-sm .dropdown-item:focus,
#menu-4j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4j .navbar,
#menu-4j .nav-dropdown-sm,
#menu-4j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4j .bg-color.transparent.opened .link:hover,
#menu-4j .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4j A {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
#header1-63 .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
}
#header3-65 .mbr-section-title,
#header3-65 .mbr-section-subtitle {
  text-align: center;
}
#header3-65 .mbr-section-title {
  text-align: left;
  font-family: 'Droid Serif', serif;
  color: #ffffff;
}
#msg-box1-67 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#msg-box1-68 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
